<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pincheck" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>PinCheck</name><js-module name="PinCheck" src="www/PinCheck.js"><clobbers target="cordova.plugins.PinCheck" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="PinCheck"><param name="android-package" value="cordova.plugin.pincheck.PinCheck" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/PinCheck.java" target-dir="src/cordova-plugin-pincheck/PinCheck" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="PinCheck"><param name="ios-package" value="PinCheck" /></feature></config-file><source-file src="src/ios/PinCheck.m" /></platform></plugin>