<ion-header>
  <ion-navbar color=danger>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Identity Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-image: url('./assets/imgs/auth-background.png')">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center>
      <ion-card>

      <ion-card-content style="text-align: center">
        <ion-item>
        <ion-avatar item-start>
          <img src="./assets/imgs/fh-logo.png">
        </ion-avatar>
        <h3>{{profile.firstName}} {{profile.lastName}}</h3>
        <p>Full Name</p>
      </ion-item>
        <ion-item>
          <h3> {{profile.email}} </h3>
          <p> Email </p>
        </ion-item>
        <ion-item>
          <h3> {{profile.username}} </h3>
          <p> Username </p>
        </ion-item>
        <ion-item>
          <ion-label> OTP 2FA Enabled</ion-label>
          <ion-icon item-end color=secondary name="done-all" *ngIf=profile.totp></ion-icon>
          <ion-icon item-end color=danger name="close" *ngIf=!profile.totp></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Email Verified</ion-label>
          <ion-icon item-end color=secondary name="done-all" *ngIf=profile.emailVerified></ion-icon>
          <ion-icon item-end color=danger name="close" *ngIf=!profile.emailVerified></ion-icon>
        </ion-item>

      </ion-card-content>
      </ion-card>

      <ion-card>
      <ion-card-content style="text-align: center">
            <ion-list>
              <ion-item *ngFor="let role of profile.realmRoles">
          <h3>{{role}}</h3>
          <ion-icon item-end color=secondary name="key"></ion-icon>
        </ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color=danger (click)="logout()">
    <ion-title style="text-align: center">Logout</ion-title>
  </ion-toolbar>
</ion-footer>
