<ion-header>
  <ion-navbar color=danger>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>API Endpoint Protection</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-image: url('./assets/imgs/auth-background.png')">

<ion-card>
  <ion-card-header>
    Request
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="ios-globe" item-start></ion-icon>
          <h3>API Server</h3>
          <p>{{apiServerUrl}}</p>
      </ion-item>
      <ion-item>
      <ion-icon name="pin" item-start></ion-icon>
        <h3>API Endpoint</h3>
        <p>{{apiEndpoint}}</p>
    </ion-item>
      <ion-item>
        <ion-icon name="code" item-start></ion-icon>
        <h3>Authorization Header</h3>
        <p>{{headerConfig.Authorization}}</p>
      </ion-item>
      <ion-item *ngIf=pinningSuccess>
        <ion-icon name="lock" color=secondary item-start></ion-icon>
        <div color=secondary><h3>Server Identity Confirmed</h3></div>
        <p>Secure Channel Available</p>
      </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>

<ion-card *ngIf=responseRecieved>
  <ion-card-header>
    Response
  </ion-card-header>
  <ion-card-content>
    <ion-item *ngIf=requestSuccess>
      <ion-icon name="done-all" color=secondary item-start></ion-icon>
      <div color=secondary><h3>Request Successful</h3></div>
      <p>Valid Access Token</p>
    </ion-item>
    <ion-item *ngIf=requestFailure>
      <ion-icon name="close" color=danger item-start></ion-icon>
      <div color=danger><h3>Request Failure</h3></div>
      <p>Access Denied</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-footer>
  <ion-toolbar color=danger (click)="sendRequest()">
    <ion-title style="text-align: center">Send Request</ion-title>
  </ion-toolbar>
</ion-footer>
