<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.abarak64.screen-lock"
        version="0.1.0">

  <name>ScreenLock</name>
  <author>Adam Barak</author>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/screenLock.js" target="js/screenLock.js"/>

  <js-module src="www/screenLock.js" name="screenLock">
    <clobbers target="screenLock" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ScreenLock">
        <param name="android-package" value="com.abarak64.screenlock.ScreenLock"/>
      </feature>
    </config-file>

    <source-file src="src/android/ScreenLock.java" target-dir="src/com/abarak64/screenlock/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="ScreenLock">
        <param name="ios-package" value="ScreenLock" />
      </feature>
    </config-file>

    <header-file src="src/ios/ScreenLock.h" target-dir="ScreenLockPlugin"/>
    <source-file src="src/ios/ScreenLock.m" target-dir="ScreenLockPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>